.App {
  text-align: center;
}

.heading {
  text-align: center;
  margin-top: 20px;
}

.edit-icon {
  cursor: pointer;
  margin-left: 120px;
  /* font-size: 30x; */
}

.add {
  width: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
