.App {
  text-align: center;
}

.heading {
  text-align: center;
  margin-top: 20px;
}

.edit-icon {
  cursor: pointer;
  margin-left: 120px;
}

.add {
  width: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}
