.App {
  text-align: center;
}

.container {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-icon {
  cursor: pointer;
  margin-left: 120px;
}

.footer {
  bottom: 0;
  position: absolute;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 90%;
}

.costs {
  margin-right: 10px;
}

.right {
  margin-left: 100px;
  cursor: pointer;
}

.input {
  margin-left: 5px;
}
